 .navbar , .footer {
  position: fixed;
  z-index: 10;
  width: 100%;
 }

.navbar {
  top: 0;
}

.footer{
  bottom: 0;
}

.homepage {
  padding-top:60px ;
  padding-bottom: 60px;
}

img {
  max-width: 100%;
  height: auto;
}

.background-image {
  background-size: cover;
  background-position: center;
}
